@import "tailwindcss";

@theme {
    --font-mono: "Roboto Mono", monospace;

    /* Surfaces */
    --color-app-bg: #0f1115;
    /* page */
    --color-app-panel: #151820;
    /* cards/panels */
    --color-app-hover: #1b212b;
    /* hover */
    --color-app-border: #262a33;
    /* dividers */

    /* Text */
    --color-app-text: #e6e6e6;
    /* primary */
    --color-app-subtext: #8a9199;
    /* secondary */

    /* Accents (punchier) */
    --color-app-accent: #6ee7ff;
    /* cyan highlight */
    --color-app-add: #22e3a5;
    /* teal/green */
    --color-app-delete: #ff4d5e;
    /* hot red-pink */
    --color-app-delete-hover: #e64556;

    /* Optional extra accents for tags/status */
    --color-app-purple: #b287ff;
    --color-app-orange: #ffb86b;
    --color-app-yellow: #ffd166;
    --color-app-blue: #5aa9ff;
}


body {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}